default: &default
  adapter: postgresql
  encoding: unicode
  # For details on connection pooling, see Rails configuration guide
  # https://guides.rubyonrails.org/configuring.html#database-pooling
  pool: <%= ENV.fetch("RAILS_MAX_THREADS") { 5 } %>

development:
  <<: *default
  database: rails6_tailwind_starter_development

test:
  <<: *default
  database: rails6_tailwind_starter_test

production:
  <<: *default
  database: rails6_tailwind_starter_production
  username: rails6_tailwind_starter
  password: <%= ENV['RAILS6_TAILWIND_STARTER_DATABASE_PASSWORD'] %>
